main
    span Привет
    img(src='@img/Group.png')
    div.row
        div.column.small-4 Aligned to
        div.column.small-4 the left
    div.row
        div.column.small-4 Aligned to 124
        div.column.small-4 the left
    div.row
        div.column.small-4 Aligned to
        div.column.small-4 the left